@using Microsoft.AspNetCore.Identity
@model mvc.DAL.ViewModels.ProductViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Product list";
}

<div class="text-center mb-4">
    <h1>Products</h1>
    <p class="text-muted">
        This page showcases all the available products in our inventory. Here, you can explore a wide range of products from our food producer partners. 
        Each product includes detailed information about nutritional values, allergens, and other essential details, which you can find in the "Details" section. 
        As a user, you can also leave a review for a specific product and add it to a collection of your choice.
    </p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    @if (user != null && (await UserManager.IsInRoleAsync(user, "Admin") || await UserManager.IsInRoleAsync(user, "Business")))
    {
        <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary mb-4">Create Product</a>

    }
}

<div class="container">
    <div class="row">
        @{foreach (var product in Model.Products) {

        <div class="col-md-4 mb-4">
            <div class="card">
            <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
            <partial name="_productCard" model="product" />
            <a asp-controller="Review" asp-action="ListReviews" asp-route-id="@product.ProductId" class="btn btn-primary">Show reviews</a>
            <a asp-action="ProductDetails" asp-route-id="@product.ProductId" class="btn btn-secondary">Details</a> 
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                @* Role-specific links *@
                @if (user != null && await UserManager.IsInRoleAsync(user, "Admin"))
                {
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-info">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                }
                @if (user != null && await UserManager.IsInRoleAsync(user, "Business") && (product.User == user))
                {
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-info">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                }
            }
            </div>
        </div>

        }}
    </div>
</div>