@model Product

<div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">
    <h6>Næringsinnhold per 100 gram</h6>
    <strong>Energy: </strong>@Model.Energy.ToString("0.## kcal")<br>
    <strong>Fat: </strong>@Model.Fat.ToString("0.## g")<br>
    <strong>Protein: </strong>@Model.Protein.ToString("0.## g")<br>
    <strong>Carbohydrates: </strong>@Model.Carbohydrates.ToString("0.## g")<br>
    <strong>Category: </strong>
    @(Model.Category?.Name ?? "Not specified")
    <br>
    
    <strong>Allergies: </strong>
        @if (Model.AllergyProducts != null)
        {
        var allergyProducts = string.Join(", ", Model.AllergyProducts.Select(ap => ap.Allergy.Name));
        @allergyProducts
        }
    </p>
</div>