@model mvc.DAL.ViewModels.BusinessProductViewModel
@{
    ViewData["Title"] = "Product list";
}

<div class="text-center mb-4">
    <h1>@Model.User.Email</h1>
    <p class="text-muted">
        Welcome to the Business Dashboard, your central hub for managing and optimizing your business operations. 
        This dashboard is designed to provide you with a comprehensive overview of your business services.
    </p>
</div>

<a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary mb-4">Create Product</a>

<div class="container">
    <div class="row">
        @{foreach (var product in Model.Products) {

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                <partial name="_productCard" model="product" />
                <a asp-controller="Review" asp-action="ListReviews" asp-route-id="@product.ProductId" class="btn btn-warning">Show reviews</a>
                <a asp-controller="Product" asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
            </div>
        </div>

        }}
    </div>
</div>